{% from '../../macros/icon.twig' import icon %}
<div class="intro">
	<div class="container">
		<div class="intro__holder">
			<div class="intro__title">
				<h1>когда роллы и&nbsp;суши стали живыми</h1>
			</div>
			<div class="intro__slider">
				<div class="slider" data-plugin="menuSlider">
					<div class="slider__holder">
						<div class="slider__item slider-card">
							<div class="slider-card__holder">
								<div class="slider-card__name">мы с тамарой – всегда парой</div>
								<div class="slider-card__subtitle">Подбери подходящий сет для своего случая</div>
								<img src="assets/images/menu/2.png" alt="img">
							</div>
							<div class="slider-card__btn">
								<a href="#" class="btn">подобрать</a>
							</div>
						</div>
						<div class="slider__item slider-card slider-card--blue">
							<div class="slider-card__holder">
								<div class="slider-card__name">игорёк	сегодня	в ударе</div>
								<div class="slider-card__subtitle">ТОП-6 популярных роллов  за сегодня</div>
								<img src="assets/images/menu/1-big.png" alt="img">
							</div>
							<div class="slider-card__btn">
								<a href="#" class="btn">больше роллов</a>
							</div>
						</div>
						<div class="slider__item slider-card slider-card--rose">
							<div class="slider-card__holder">
								<div class="slider-card__name">светик хочет в ротик</div>
								<div class="slider-card__subtitle">только никому не говорите</div>
								<img src="assets/images/menu/3.png" alt="img">
							</div>
							<div class="slider-card__btn">
								<a href="#" class="btn">больше роллов</a>
							</div>
						</div>
						<div class="slider__item slider-card">
							<div class="slider-card__holder">
								<div class="slider-card__name">игорёк	сегодня	в ударе</div>
								<div class="slider-card__subtitle">ТОП-6 популярных роллов  за сегодня</div>
								<img src="assets/images/menu/1-big.png" alt="img">
							</div>
							<div class="slider-card__btn">
								<a href="#" class="btn">больше роллов</a>
							</div>
						</div>
					</div>
					<div class="slider__nav"></div>
				</div>
			</div>
		</div>
	</div>	
</div>