<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="Author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="apple-touch-icon" sizes="180x180" href="assets/manifest/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/manifest/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="assets/manifest/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/manifest/favicon-16x16.png">
	<meta name="theme-color" content="#ffffff">
  {% block meta %}{% endblock %}
  <title>{% block title %}Title{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"/>        
	<script>
		document.documentElement.classList.remove('no-js');
		document.documentElement.classList.add('js');

		if (document.documentElement.style.setProperty) {
			document.documentElement.style.setProperty('--viewport-height', window.innerHeight + 'px');
			document.documentElement.style.setProperty('--viewport-height-actual', window.innerHeight + 'px');
		}
	</script>
	<link rel="stylesheet" href="assets/stylesheets/global.min.css">
	{% block stylesheets %}
		<style>
			.preloader.visible {
				visibility: visible;
				opacity: 1;
				transition: opacity .5s linear;
			}
		</style>
	{% endblock %}
</head>
<body data-plugin="reveal" data-preload>
	<div class="page-content-wrapper">
		{% set navigation = [            
			{
					'title': 'меню',
					'pageId': 'menu',
					'url': '/',
			},
			{
					'title': 'доставка и оплата',
					'pageId': 'delivery',
					'url': '/',
			},
			{
					'title': 'о проекте',
					'pageId': 'about',
					'url': '/',
			},
			{
				'title': 'франшиза',
				'pageId': 'franchise',
				'url': '/',
			},
			{
				'title': 'акции',
				'pageId': 'promo',
				'url': '/',
			},
			{
				'title': 'комбо-наборы',
				'pageId': 'combo',
				'url': '/',
			},
		] %}	
		<div class="preloader visible"><div class="preloader__loader"></div></div>
		{% block header %}
			{% include "../partials/header.twig" with { 'navigation': navigation } %}
		{% endblock %}
		{% include "../partials/ham-panel.twig" with { 'navigation': navigation } %}
		<div class="page-content">
				<main>
					{% block body %}{% endblock %}
				</main>
				{% block footer %}  
				{% endblock %}
		</div>
		<div class="js-modal">
				{% block modal %}{% endblock %}
		</div>
	</div>
	
	<script src="assets/javascripts/main.js"></script>
	{% block javascripts %} {% endblock %}
</body>
</html>
