@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: linear-gradient(149deg, #991242 0%, #000 42%, #000 72%, #CD1054 100%);
	animation: gradient 10s infinite linear; 
	background-size: 400%; 

	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 4px solid rgba(226, 217, 217, 0.3);
  	border-left-color: #991242;
		animation: spin .8s linear infinite;
	}
	&.visible {
		visibility: visible;
		opacity: 1;
		transition: opacity .5s linear;
	}
	
	&.hidden {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s .5s, opacity .5s linear;
	}
}

@keyframes gradient {
	0% {
			background-position: 80% 0%;
	}
	50% {
			background-position: 20% 100%;
	}
	100% {
			background-position: 80% 0%;
	}
}